* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #EFEFEF;
}
ul{
    list-style: none;
}
body {
    background-color: #112B3C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23205375' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23F66B0E'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
/* incia logo austral index */

.logo--austral{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo--austral .img__logo{
    position: relative;
    height: 250px;
    width: 450px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.logo--austral .btn__logo{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
    
}
.logo--austral .capa__logo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 , 103, 123, .6);
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    
}
.img__logo:hover > .capa__logo{
    opacity: 1;
    visibility: visible;
}
.logo--austral:hover > .capa__logo h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.logo--austral:hover > .img__logo{
    transform: scale(1);
}
.capa__logo h3{
    color: #EFEFEF;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all .5s ease-out;
    margin-top: 30px;
}
.capa__logo p{
    color: #EFEFEF;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/* fin logo austral index */
/*===========================*/
/*empieza nav*/
.contenedor {
    background-color: #112B3C;
    
}

.logo {
    width: 400px;
    height: 220px;
    margin:auto;
}

.logo__img{
    width: 400px;
    height: 200px;
}

.nav--menu {
    display: inline;
    position: fixed;
    list-style: none;
}

.nav__contenedor {
    height: 60px;
}

.lista1 {
    float: left;
}

.lista1 a {
    display: inline;
    color: rgb(253, 253, 253);
    padding: 14px 16px;
    text-decoration: none;

}

.lista1 a:hover {
    background-color: rgba(2, 39, 248, .7);

}

.btn1 {
    background-color: #F66B0E;
    border-radius: 111px;
}

.btn {
    background-color: #0489aa5d;
    border-radius: 111px;
}
.menu-btn{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
}
/*termina el nav*/
/*titulo 1*/
.titulo1 {
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-align: center;
    color: #Fff;
}

/*imagen historia*/
.h4-history {
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding-top: 5px;
}

.section .fotHisto {
    padding: 10px 0 15px 0;
    margin: auto;
    display: block;
    width: 90%;

}

/*imagen fabricacion*/
.h4-fabri {
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding: 5px 0 10px 0;
}

.section .fotfabri {
    padding: 10px 0 15px 0;
    margin: auto;
    display: block;
    width: 90%;
}



/*section nuestros clientes*/
.video {
    display: inline;
    margin: 50px 0;
    height: 100px;
    width: 100px;
}

.video h3 {
    text-decoration: underline;
}

.video p {
    font-family: 'Open Sans', sans-serif;
}
.video1 {
    text-align: center;
}

.video2 {
    text-align: center;
}

.video3 {
    text-align: center;
}

/* empieza productos*/

/* FORMULARIO */
.contenedor-form .form .encabezado-form .titulo-form {
    font-weight: normal;
    text-align: center;
    padding: 14px 0px;
}

.contenedor-form .form {
    background: #0d3550;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 5px 35px 30px 35px;
    margin-top: 30px;
    border-radius: 3px;
}

.contenedor-form .form .form-label {
    display: block;
    color: #ffffff;
    font-size: 16px;
    position: relative;
}

.contenedor-form .form .form-input,
.form-textarea {
    background: #062d46;
    border: none;
    outline: none;
    border-bottom: 2px solid #011522;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.contenedor-form .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor-form .form .btn-submit {
    width: 100%;
    outline: none;
    background: #011522;
    font-size: 16px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 0px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .form .btn-submit:hover {
    background:  #f66b0eb7;
    color: rgb(0, 0, 0);
    transition: 0.7s ease-in-out;

}

/*fin contactenos*/
/*empieza el footer*/
#footer {
    background-color: #F66B0E;
    margin-top: 100px;
    text-align: center;
}


.lista2 a {
    list-style: none;
    text-decoration: none;
    color: #f5f4f3;
    font-size: 20px;
}

.lista2 a:hover{
    color: #000;
    font-weight: bold;
}

/*termina footer*/

/*PAGINA PRODUCTOS*/

.sectionProductos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.productosKayak{
    font-size: 17px;
    color: #fff;
}

.grid-A{
    width: 600px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.fotokayak{
    width: 600px;
    border-radius: 5px;
    border: 2px solid black;
}

/*TERMINA PAGINA PRODUCTOS*/

/*EMPIEZA PAGINA TIENDA*/
.titulo_tiendas{
    font-size: 17px;
    color: #fff;
    text-decoration: underline;
    margin: 5px 0px 40px 5px;
}
.tiendas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.tiendas__grid{
    width: 300px;
    margin: auto;
    padding: 10px;
}

.fotos__tiendas{
    width: 300px;
    height: 300px;
}
/*TERMINA PAGINA TIENDA*/

@media (max-width: 980px){
    .contenedor {
        background-color: #102838;
        
    }
    .nav--menu{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .logo {
        width: 300px;
        height: 220px;
        margin:auto;
    }
    .logo__img{
        width: 300px;
        height: 200px;
    }
    .tiendas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    }
}
@media(max-width:650px) {
    .contenedor {
        background-color: #112B3C;
        
    }
    .nav-menu{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .logo {
        width: 300px;
        height: 220px;
        margin:auto;
    }
    .logo__img{
        width: 300px;
        height: 200px;
    }
   .tiendas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
   }
   
}
@media (max-width:320px){
    .contenedor {
        background-color: #112B3C;
        
    }
    .nav-menu{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .logo {
        width: 300px;
        height: 220px;
        margin:auto;
    }
    .logo__img{
        width: 300px;
        height: 200px;
    }
   .tiendas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
   }
}
